<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h1>I'm sorry but you need to start the new url with http:// or https://</h1>
    <p><a href='/urls/new'>CLICK HERE TO GO BACK TO THE NEW URL PAGE</a></p>
    <br>
    <p><a href='/urls'>CLICK HERE TO GO TO YOUR MAIN URLS PAGE</a></p>
  </body>
</html>