<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <p>Sorry but either your email or your password field was empty.</p>
    <p><a href='/register'>Click here to go to the register page again!</a></p>
  </body>
</html>