<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <p>Sorry but that email is already taken!</p>
    <p><a href='/register'>Click here to go to the register page again!</a></p>
  </body>
</html>