<!-- ./views/urls_index.ejs -->

  <% include ./partials/_header.ejs  %>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- ADD MY EJS CODE HERE -->
  <ul>
  <% Object.keys(urls).forEach(function(list) { %>
  <li><%= list %> : <%= urls[list] %></li>
  <% }) %>
</ul>
</html>