<!-- ./views/urls_index.ejs -->

  <% include ./partials/_header.ejs  %>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- ADD MY EJS CODE HERE -->
  <table>
  <% Object.keys(urls).forEach(function(list) { %>



  <tr><td>

  <%= list %> : <%= urls[list] %>
 </td></tr>
 <tr><td>
  <form method="POST" action="<%=`/urls/${list}/delete`%>">
        <input type="submit" value="DELETE">
  </form>

 </tr></td>

  <% }) %>
</table>



</body>
</html>