<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding 50px">
      <form action="/login" method="POST" style="margin: 150px;">
        <label for="login" style="margin-right: 34px">Enter your login: </label>
        <input id="login" type="text" name="login" placeholder="Enter your email here" style="width: 300px">
        <br>
        <label for="password">Enter your password: </label>
        <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
        <input type="submit" value="submit">
      </form>
  </body>
</html>


<p><a href="/register">CLICK HERE TO REGISTER</a></p>